body{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: lightgrey;
    background-image: url("abstract_blue.jpeg");
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    height: 400px;
    justify-content: center;  
}

#display {
    flex: 75%;
    background-color: #080808;
    border: 2px solid white;
    color: cyan;
    padding: 14px 24px;
    font-family: 'Germania One', cursive;
    font-size: 48px;

}

#clear{
    flex: 1 1 25%;
    border: 2px solid white;
    background-color: lightblue;
    color: black;
    padding: 14px 24px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

.calc_keys {
    flex: 1 0 25%;
    border: 2px solid white;
    background-color: lightblue;
    color: black;
    padding: 14px 24px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}   

.operators {
    flex: 1 0 25%;
    border: 2px solid white;
    background-color: lightblue;
    color: black;
    padding: 14px 24px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 24px; 
}

#ampersand {
    flex: 1 0 25%;
    border: 2px solid white;
    background-color: lightblue;
    color: black;
    padding: 14px 24px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 24px; 
}

#equals{
    flex: 1 0 50%;
    border: 2px solid white;
    background-color: lightblue;
    color: black;
    padding: 14px 24px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

